
#home-page-header {
	background-color: #eaeaea;

	.container {
		padding-top: 25px;

		.left-column {
			font-size: 1.5em;
			padding-top: 20px;
			padding-bottom: 20px;

			p {
				font-size: .7em;
			}
		}

		.right-column {
			text-align: right;
		}

		@include max($mobile-break) {
			.right-column {
				.carousel-container {
					float: none;
					margin: 20px auto;
				}
			}
		}

		@include min(($mobile-break+1)) {
			@include ptb(80px);
			@include outer-container;

			.left-column {
				@include span-columns(5);
				@include shift(-12);
				font-size: 2.2em;
			}

			.right-column {
				@include span-columns(7);
				@include shift(5);

				.carousel-container {
					float: right;
				}
			}
		}
	}
}

#home-page-container {
	font-size: 1.3em;
	line-height: 1.6em;
	@include outer-container;

	@include min(($mobile-break+1)) {
		.left {
			@include span-columns(3.8);
		}

		.right {
			@include span-columns(6);
			@include shift(2.2);
			@include omega();
		}
	}

	h3 {
		margin: 60px 0 16px 0;
	}

	p {
		margin-bottom: 16px;
	}
}
