
.page-with-sidebar-right {
	@include outer-container;

	.left-content {
		margin-bottom: 50px;

		@include min($mobile-break) {
			@include span-columns(5);
		}
	}

	.sidebar-right {
		background-color: #eaeaea;
		padding: 42px;

		&.no-bg-color {
			background-color: transparent;
		}

		&.no-padding {
			padding: 0px;
		}

		@include min($mobile-break) {
			@include span-columns(5);
			@include shift(2);
			margin-bottom: 0;
		}
	}

}
