
.page-with-sidebar-right-top {
	@include outer-container;

	.left-content {
		@include min($mobile-break) {
			@include span-columns(5);
			@include shift(-12);
		}
	}

	.sidebar-right {
		background-color: #eaeaea;
		padding: 42px;
		margin-bottom: 50px;

		@include min($mobile-break) {
			@include span-columns(5);
			@include shift(7);
			margin-bottom: 0;
		}
	}

}
