
#mobile-menu-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 52px;
	background-color: $sky-blue;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
	z-index: 1001;

	.c-hamburger {
		 position: absolute;
		 left: 6px;
		 top: 12px;
	}

	h1 {
		margin-top: 16px;
		text-align: center;
		font-size: 1.2em;
		color: $header-text-color;
	}

	@include min($mobile-break + 1) {
		display: none;
	}
}

#header {

	background: $sky-blue;
	min-height: 178px;
	transition: height .2s linear;

	@include position(relative);

	@include max($mobile-break) {
		background: #eee;
	}

	.container {
		position: relative;
	}

	#header-app-logo {
		position: relative;
		display: none;
		margin-bottom: 36px;
		font-weight: 600;
		color: $header-text-color;
		font-family: $montserrat;
		transition: margin .2s linear;

		@include min($mobile-break + 1) {
			display: inline-block;
			width: 460px;
			font-size: 2.1em;
		}
	}

	#app-menu {
		li {
			position: relative;
			display: inline-block;
			height: 26px;
			margin-right: 34px;
			border-bottom: 2px solid transparent;
			transition: height .2s linear, border-bottom-color .2s linear;

			a {
				padding: 12px 0;
				font-family: $montserrat;
				font-weight: 600;
				font-size: .9em;
				color: $header-text-color;
			}

			&:hover, &.selected {
				border-bottom: 2px solid $header-text-color;
			}

			@include max(1080px) {
				margin-right: 28px;

				a {
					font-size: .85em;
				}
			}
		}

		li.home {
			display: none;
		}



		@include max($mobile-break) {
			position: fixed;
		    top: 52px;
			left: 0;
		    width: 290px;
		    max-height: calc(100vh - 52px);
		    overflow-y: scroll;
		    z-index: 999;
		    transform: translate3D(-290px, 0, 0);
		    transition: all .3s ease-in-out;
			background: #fff;

			li {
				display: block;
				height: auto;
				margin: 0;
				padding: 0;
				border: 0;

				&.home {
					display: block;
				}

				a {
					display: block;
					padding: 16px;
					color: $action-color;
					border-bottom: 1px solid #ddd;
				}

				&:last-child a {
					border-bottom: none;
				}

				&.selected a {
					background-color: #eee;
				}

				&:hover, &.selected {
					border-bottom: none;
				}
			}
		}
	}

	.fixed {
		min-height: 178px;
		background: $sky-blue;
		color: $header-text-color;
		box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
		@include position(absolute, 0 0 0 0);

		@include max($mobile-break) {
			box-shadow: none;
		}

		&:before {
			content: '';
			position: absolute;
		    left: 0;
		    top: 0;
			right: 0;
			bottom: 0;
		    opacity: 0.4;
			background-image: url('../img/header-bg-clouds2.png');
			transition: top .2s linear;
		}
	}


	.header-left {
		padding-top: 45px;
		padding-bottom: 14px;
		transition: padding .2s linear;
	}

	.header-right {
		position: absolute;
		top: 42px;
		right: 26px;
		text-align: center;
		transition: padding .2s linear;

		.audio-con {
			opacity: .75;
			transition: opacity .2s linear;

			&:hover {
				opacity: 1;
			}

			audio {
				outline: none;
			}
		}

		@include min($mobile-break+1) {
			text-align: right;
		}

		@include max($mobile-break) {
			position: relative;
			top: initial;
			right: initial;
			padding-top: 24px;
		}
	}
}

body.menuout #header {
	#app-menu {
		transform: translate3d(0, 0, 0);
		box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
	}
}

body {
	#body-overlay {
		z-index: 800;
	    display: none;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: #000000;
		opacity: 0;
		transition: opacity .2s linear;
	}

	&.menuout {
		overflow: hidden;
		position: relative;
		height: 100%;

		#body-overlay {
			opacity: .7;
		}
	}
}

#mobile-menu,
#idbar-menu-overlay {
	@include transition(all 250ms ease-in-out);

	@include min(($mobile-break + 1)) {
		display: none !important;
	}
}


@include min(($mobile-break + 1)) {

	body.fixed-header {
		#header .fixed {
			z-index: 999;
			@include position(fixed, 0 0 initial 0);
		}
	}

	body.shrunk-header {
		#header .fixed {
			min-height: 124px;

			.header-left {
				padding-top: 14px;
			}

			.header-right {
				padding-top: 32px;
			}

			#header-app-logo {
				margin-bottom: 18px;
			}

			&:before {
				top: -28px;
			}
		}
	}
}
