
main {

	& > .container {

		@include min(979px) {
			min-height: 475px;
		}

		& > .page-content {
			margin: 68px 0;

			@include max($mobile-break) {
				margin: 50px 0;
			}

			.page-title {
				font-size: 2.2em;
			}

			.intro-emphasize {
				font-size: 1.3em;
				margin: 68px 0;
			}
		}

		#main-content-header {
			& > div {
		    	position: relative;

				@include max($mobile-break) {
					text-align: center;
				}
			}
		}
	}

}
