@charset "UTF-8";

#slick-carousel-container {
	float:right;
	max-width: 504px;
	background: #000;

	@include max($mobile-break) {
		float: none;
		margin: 12px auto;
	}

	img {
		margin: 0 auto; /* it centers any block level element */
	}
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 33px;
    width: 31px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
	z-index: 1;
}

.slick-prev {
    left: 6px;
	background: transparent url('../img/icon-slideshow-arrow-left.png') no-repeat center center;
	opacity: .6;

	&:hover, &:focus {
        background: transparent url('../img/icon-slideshow-arrow-left.png') no-repeat center center;
	}

	&:hover {
		opacity: 1;
	}
}

.slick-next {
    right: 6px;
    background: transparent url('../img/icon-slideshow-arrow-right.png') no-repeat center center;
	opacity: .6;

	&:hover, &:focus {
        background: transparent url('../img/icon-slideshow-arrow-right.png') no-repeat center center;
	}

	&:hover {
		opacity: 1;
	}
}
