#{$all-button-inputs},
button,
a.button {
	position: relative;
	@include appearance(none);
	-webkit-font-smoothing: antialiased;
	background-color: transparent;
	border-radius: $base-border-radius;
	border: 2px solid $action-color;
	color: $action-color;
	cursor: pointer;
	display: inline-block;
	font-family: $montserrat;
	font-size: .85em;
	font-weight: 300;
	line-height: 1;
	padding: 0.7em 1em;
	text-decoration: none;
	text-transform: uppercase;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	@include transition (all 200ms ease);

	&.mini {
		padding: 0.5em .8em;
		font-size: .65em;
	}

	&:hover,
	&:focus {
		background-color: $action-color;
		color: #fff;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&:hover {
		background: $action-color;
		color: $white;

		&:before {
			@include triangle(.9375em, $white, down-right);
		}
	}

	&.arrow {
		padding-left: 2.1em;

		&:before {
			content: "";
			@include triangle(.9375em, $action-color, down-right);
			@include position(absolute, initial initial 0.8em 0.45em);
			@include transition(border-color 200ms ease);
		}

		&:hover {
			&:before {
				@include triangle(.9375em, $white, down-right);
			}
		}
	}

}
